<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Lấy lại mật khẩu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />

  <style>
    body {
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  </style>
</head>

<body>
  <section>
    <main id="content" role="main" class="w-full h-screen max-w-md p-6 mx-auto">
      <div class="bg-white border shadow-lg mt-7 rounded-xl">
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <h1 class="block text-lg font-bold text-gray-800">Reset Password</h1>
          </div>

          <div class="mt-5">
            <form action="/api/v1/access/new-password?i=<%= title %>" method="post">
              <div class="grid gap-y-4">

                <div>
                  <label for="new_password" class="block mb-2 ml-1 text-xs font-semibold">New password</label>
                  <div class="relative">
                    <input type="password" id="new_password" name="new_password"
                      class="block w-full px-4 py-3 text-sm border-2 border-gray-200 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                      required aria-describedby="new-password-error" placeholder="Enter a new password" />
                  </div>
                  <p class="hidden mt-2 text-xs text-red-600" id="new-password-error">
                    Please include a password that complies with the rules to ensure security
                  </p>
                </div>

                <div>
                  <label for="confirmn_new_password" class="block mb-2 ml-1 text-xs font-semibold">Confirm new
                    password</label>
                  <div class="relative">
                    <input type="password" id="confirmn_new_password" name="confirm_new_password"
                      class="block w-full px-4 py-3 text-sm border-2 border-gray-200 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                      required aria-describedby="confirmn_new-password-error" placeholder="Enter a new password" />
                  </div>
                  <p class="hidden mt-2 text-xs text-red-600" id="confirmn_new-password-error">
                    Please include a password that complies with the rules to ensure security
                  </p>
                </div>

                <input type="submit"
                  class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-indigo-500 border border-transparent rounded-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                  value="Reset my password" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </section>
</body>

</html>